* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font: bold 12px Arial, Helvetica, sans-serif;
    background-color: rgb(107, 120, 32);
    text-transform: capitalize;
}



.clockdigital {
    position: absolute;
    top: 10%;
    left: 50%;
    translate: -50%;
    width: 450px;
    /* border: 1px solid #d7ea08; */
    color: rgb(123, 5, 147);
    padding: 40px;
    /* border-radius: 10px; */
    background: transparent;
    /* background-color: #5b3a3a; */
    /* box-shadow: 10px 10px 8px black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#date {
    font-size: 20px !important;
    text-align: center;
}
.clockdigital ul {
    list-style: none;
    display: flex;
    
    font-size: 30px;
    gap: 15px;
}

/* my anolog clock style goes here */

.container1 {
    position: absolute;
}

.borderd {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: #80ed99;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.clock {
    width: 370px;
    height: 370px;
    border-radius: 50%;
    /* background-color: rgb(185, 203, 185); */
    background-image: url();
    background-size: cover;
    /* background: #1c2833; */
    border: 2px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9);
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock span {
    position: absolute;
    transform: rotate(calc(30deg*var(--i)));
    inset: 12px;
    text-align: center;
}

.clock span b {
    transform: rotate(calc(-30deg*var(--i)));
    display: inline-block;
    font-size: 1.3rem;
}

.clock::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: black;
    z-index: 2;
}

.hands {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    align-items: flex-end;
}

.hands i {
    position: absolute;
    background: var(--clr);
    width: 8px;
    height: var(--h);
    /* border-radius: 70px; */
    clip-path: polygon(25% 100%, 25% 25%, 0 25%, 50% 0, 100% 25%, 75% 25%, 75% 100%);

}

/* #hours {
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
} */


